<div class="col-md-2" style="height: 100%; border-right:solid 1px #CCC; padding: 0">
    <br>
    <ul class="nav left-nav">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/referrals">Referrals</a></li>
        <li><a href="/helpdesk">Helpdesk</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
</div>