<%- include('head') %>
<%- include('header') %>    
<%- include('left_nav') %>

<div class="col-md-10" style="padding-top:20px">
    <h1>Settings</h1>
    
    <hr />

    <ul class="nav nav-tabs">
        <li><a href="/settings">Adresses</a></li>
        <li class="active"><a href="/settings/kyc">KYC</a></li>
        <li><a href="/settings/profile">Profile</a></li>
        <li><a href="#">2FA</a></li>
    </ul>
    <br>

    <% if (action == 'save') { %> 
    
    <form method="post" class="form-horizontal col-md-8" action="/kyc" enctype="multipart/form-data">    
        <div class="form-group">
            <label class="control-label col-sm-2" for="first_name">First Name</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="first_name" name="first_name" value="<%- user.kyc.first_name %>">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="last_name">Last Name</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="last_name" name="last_name" value="<%- user.kyc.last_name %>">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="gender">Gender</label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="M">Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="F">Female
            </label>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="dob">Date Of Birth</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="dob" name="dob" value="<%- user.kyc.dob %>">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="city">City</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="city" name="city" value="<%- user.kyc.city %>">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="state">State</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="state" name="state" value="<%- user.kyc.state %>">
            </div>
        </div>
    
        <div class="form-group">
            <label class="control-label col-sm-2" for="country">Country</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="country" name="country" value="<%- user.kyc.country %>">
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2" for="address_proof">Address Proof</label>
            <div class="col-sm-10">
                <input type="File" class="form-control" id="address_proof" name="address_proof" placeholder="Address Proof" >
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="identity_proof">Identity Proof</label>
            <div class="col-sm-10">
                    <input type="File" class="form-control" id="identity_proof" name="identity_proof" placeholder="Address Proof" >
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
    
    <% } else { %>

    <% if(user.status == 'KYC_ADDED') { %>
        <div class="alert alert-danger text-center alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <b>KYC Verification is pending</b>
        </div>                
    <% } %>    

    <table class="table">
        <tr>
            <th class="col-md-3"><h4>KYC Details</h4></th>
            <td align="right"><a class="btn btn-success" href="/settings/kyc?action=save">Add / Edit </a></td>
        </tr>
        <tr>
            <th class="col-md-3">First Name</th>
            <td><%- user.kyc.first_name %></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><%- user.kyc.last_name %></td>
        </tr>
        <tr>
            <th>Gender</th>
            <td><%- user.kyc.gender %></td>
        </tr>
        <tr>
            <th>Date Of Birth</th>
            <td><%- user.kyc.dob %></td>
        </tr>
        <tr>
            <th>City</th>
            <td><%- user.kyc.city %></td>
        </tr>
        <tr>
            <th>State</th>
            <td><%- user.kyc.state %></td>
        </tr>
        <tr>
            <th>Country</th>
            <td><%- user.kyc.country %></td>
        </tr>
        <tr>
            <th>Address Proof</th>
            <td><img class="img-responsive" src="<%- user.kyc.address_proof %>"/></td>
        </tr>
        <tr>
            <th>Identity Proof</th>
            <td><img class="img-responsive" src="<%- user.kyc.identity_proof %>"/></td>
        </tr>
    </table>
    <% } %>  
</div>

<%- include('footer') %>
